/Parsing/products/
/Parsing/zara_categories_flat.json
/Parsing/zara_categories_full.json
/TelegramBot/key.py
/TelegramBot/db_password.py
/Parsing/next_id.txt
/Parsing/next_idset.txt
/Parsing/next_updated.json
/Parsing/next_async.py
/Parsing/new_next.json
/TelegramBot/persistentbot.py
/TelegramBot/pkl_open.py
/.idea/encodings.xml
